
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&family=Oxygen&family=Oxygen+Mono&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&family=Oxygen&family=Oxygen+Mono&family=Poppins&display=swap');

:root{
    --bg-color:#f3f4fc;
    --border-color:#130e51;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif;

    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color:var(--bg-color);
    height: 100%;
    

}

header nav{
    max-width: 1200px;
    margin: 0 auto;

}

header nav ul{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 2rem 1rem 6rem;
    justify-content:flex-start;
    align-items: center;
    gap:5%;
    list-style-type: none;
    
}
header nav ul li{
    padding: 0.5rem;
}

header ul li:first-child{
    text-align: left;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    /* background-color: red; */
}
 header a {
    text-decoration: none;
    color:var(--border-color);
    display:block;
}
header a:hover {
    color:#120e51b3;
}


 header nav ul .login,
 header nav ul .sign-up{
    padding: 1rem 2rem 1rem 2rem;
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--border-color);
    text-transform: uppercase;
    font-weight: 600;

}
header nav ul .login:hover{
   transition: all 0.3s;
   transform: scale(1.1); 
}
header nav ul .sign-up{
    background-color: var(--border-color);
    color:#ffffff;
    
}
 header nav ul .sign-up:hover{
    transition: all 0.3s ;
    transform: scale(1.1);
}
header nav ul li:last-child{
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items: center;
    gap:10%;
    flex-basis: 40%;
}
.content{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:5%;
    padding: 4rem 2rem;
}
.content h2,
.collections h2{
    font-size: 2.5rem;
    color: var(--border-color);
    padding-top:4rem;
}

    /* animation: slide-in 1s ease-in-out both; */



.content h2 span{
    color:#e4bd72;

}
.content div{
    display: flex;
    flex-flow: column nowrap;
}
.content p{
    color: #221d61;
    /* animation: slide-in 1s ease-in-out both; */
    animation-delay: 1s;
}

.content img{
    flex-basis: 40%;
    /* animation: slide-in 1s ease-in-out both; */
    animation-delay: 1.5s;
    
}

img{
    width:100%;

}
.circle{
    width: 5vmin;
    height:5vmin;
    border: 2px solid var(--border-color);
    border-radius: 50%;
     /* transform: translate(
    calc((var(--x) * 1px) - 50%),
    calc((var(--y) * 1px) - 50%) */
    
  /* ); */
  position: absolute;
 
}


.image-container {
    
    margin-top: 2rem;
    margin-bottom: 4rem;
    height: 400px;
    
    overflow: hidden;
    white-space: nowrap;
    padding: 3rem 3rem;

    

    
}
.collections {
    width: 80%;
    margin: 0 auto;
}
.image-container img{
    border-radius: 10px; 
    width: 200px;
    margin: 0 5px;
}

.image-container img:hover,
.image-container img:focus{
    transform: scale(1.1);
}
.image-container [class*="box"]{
    animation: flow 35s linear infinite; 
    display: inline-block;
 }

@keyframes flow{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#services{
    display: flex;
    flex-flow:column nowrap;
    padding: 4rem 2rem 2rem 2rem;
    width: 80%;
    margin:0 auto;
}
#services img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
#services .parts{
   display: grid;
   grid-template-columns:repeat(10,1fr);
   grid-template-rows: auto;
    gap: 10%;
    margin-bottom: 2rem;
    color: #130e51;
}
#services .parts p{
    background-color: #130e51;
    color: #ffffff;
    grid-column: 5/10;
    grid-row: 1/2;
    border-radius: 10px;
    padding: 1rem;
}
#services .parts img{
    height: 100%;
    max-height: 250px;
    object-fit: cover;
   
    border-radius: 10px;
    grid-column: 1/6;
    grid-row: 1/2;
}
.footer {
    background-color: var(--border-color);
    margin:0;
    padding:0;
    color:white;
}
footer{
    max-width:1200px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    margin:0 auto;

}